<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Table</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Edit Table</h1>
    <form action="/tables/edit/{{ table.table_id }}" method="post">
        <label for="total_people">Total People:</label>
        <input type="number" name="total_people" value="{{ table.total_people }}" required>
        <input type="submit" value="Update Table">
    </form>
    <a href="/tables">Back to Table List</a>
</body>
</html>
